<h1>Ping Response</h1>
<br>
<br>
<h3><strong>Bid ID</strong> : <%= @data["bid"]["bid_id"]%></h3>
<h3><strong>Price</strong> : <%= @data["bid"]["price"]%></h3>

<button><%= link_to 'Post', post_admin_leads_path(@lead), method: :put %></button>
<button><%= link_to "Back", action: :index %></button>